{% extends "home/base.html" %}

{% load static %}
{%block content%}
<h3> Audio Samples </h3>
    <div class="sound">
        <a href="verdi">Caro Nome from Rigoletto by G. Verdi</a></br>
        <a href="handel">Rejoice Greatly from The Messiah by G. Handel</a></br>
        <a href="poulenc">C'est ainsi que tu est by F. Poulenc</a></br>
        <a href="berstein">Glitter and be Gay from Candide by L. Berstein</a></br>
        <a href="strauss">Als mir dein leid erklang by Richard Strauss</a></br>
    </div>
{%endblock%}
