<!DOCTYPE html>
<html lang="en">

{% load static %}

    <head>
        <title>Leslie Heal Ray </title>
        <meta Charset="utf-8"/>
        <link href='http://fonts.googleapis.com/css?family=Alegreya+Sans+SC' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href='{% static "css/styles.css" %}' /><!-- CSS -->
        {% block extra-js %}{% endblock %}
    </head>

    <body>
        <div id="outer">
            <header id="wrapper">
                {% block site_title %}Leslie Heal Ray{% endblock %}
            </header>
            <nav>
                <ul>
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li><a href="{% url 'about' %}">About</a></li>
                    <li><a href="{% url 'audio' %}">Audio</a></li>
                    <li><a href="{% url 'blog' %}">Blog</a></li>
                    <li><a href="{% url 'contact' %}">Contact</a></li>
                </ul>
            </nav>
            {% block content %}{% endblock %}
        </div>
    </body>

</html>
